# Cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.sqlite3
*.egg-info/
.sass-cache/
.coverage


# Non-required directories and files
backup/
log/
.cache/
.idea/
.git/
.gitignore
.travis.yml

# Build directories
build/
dist/


# Database
db/


# Static files
node_modules/


# Sources and documentation
static_src/
artwork/
docs/
