# Cached builds
__pycache__/
.cache/
.idea/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.sqlite3
*.egg-info/
.cache/
.sass-cache/
.cs-debug.log
.coverage

# Build directories
build/
dist/
collect/
node_modules/
docs/_build/

# Sensible information
db/redis/*
db/*.*
security/*
docker/volumes/redis/dump.rdb
docker/db/db.sqlite3
collect/media/*
logs/
backup/
