{% extends 'auth/base.jinja2' %}

{% block title %}{{ _("Change password") }}{% endblock %}

{% block content_title %}
    <h2>{% trans username=request.user.username %}Account &raquo; {{ username }}{% endtrans %}</h2>
{% endblock %}

{% block content_body %}
    <form method="POST" id="form">
        <h2>{{ _("Change Password") }}</h2>
        {{ csrf_input }}
        <table class="form">{{ form.as_table() }}</table>
    </form>
    <div class="toolbar highlight">
        <input type="submit" form="form" value="{{ _("Change password") }}"/>
    </div>
{% endblock %}
