{% extends "base.jinja2" %}
{% from 'components/cards.jinja2' import cs_card, cards_container %}

{% block content %}
    {% call cards_container(title=course.title|e, description=_('Activities for today')) %}
        {% for activity in activities %}
            {{ cs_card(
                    activity.title,
                    activity.short_description,
                    icon=activity.material_icon,
                    href=activity.get_absolute_url()) }}
        {% endfor %}

        {% if role == 'teacher' %}
            {{ cs_card(
                    _('Add activity!'),
                    _('Click here to add new activities to your course'),
                    icon='add_circle',
                    faded=True,
                    onclick="srvice.run('add-activity')") }}
        {% else %}
            {{ cs_card(
                    _('More questions!'),
                    _('Click here to practice with additional questions in your course'),
                    icon='add_circle',
                    faded=True,
                    href=page.get_absolute_url('questions')) }}
        {% endif %}
    {% endcall %}

    {% call cards_container(_('Course info'), _('Learn more about this course')) %}
        {{ course.info_dict()|dl(cls='cs-course--info') }}
    {% endcall %}
    <section class="content-cards">
        <aside>
            <h1>Aulas</h1>
            <p>Cronograma de aulas.</p>
        </aside>

{#        <article>#}
{#            {% if course.lessons.count() %}#}
{#                <sortable-js id="course-lessons"#}
{#                             {% if can_edit %}sync-api="cs_courses.sort-lessons"#}
{#                             sync-id="{{ course.pk }}"#}
{#                             {% else %}disabled{% endif %}>#}
{#                    {% for lesson in course.lessons.all() %}#}
{#                        <div data-id="{{ lesson.pk }}">#}
{#                            <p><span#}
{#                                    class="index">{{ loop.index }}.</span> {{ lesson.title }}#}
{#                                {% if can_edit %}#}
{#                                    <i class="sortable-remove">✖</i>{% endif %}#}
{#                            </p>#}
{#                            {% if lesson.description %}#}
{#                                <div>{{ lesson.description }}</div>{% endif %}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </sortable-js>#}
{#            {% else %}#}
{#                <p>{{ _('No lessons available!') }}</p>#}
{#            {% endif %}#}
{#        </article>#}
{#    </section>#}

{#    <section class="content-cards">#}
{#        <aside>#}
{#            <h1>Colegas</h1>#}
{#            <p>Acesse a lista de todos alunos inscritos no curso.</p>#}
{#        </aside>#}
{##}
{#        <article>#}
{#            <div>#}
{#                <h2>Alunos inscritos</h2>#}
{#                <ul>#}
{#                    {% for student in colleagues %}#}
{#                        <li>#}
{#                            <a href="/accounts/{{ student.username }}">{{ student.get_full_name() or student.username }}</a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </article>#}
{#    </section>#}
{% endblock %}


{% block hidden_content %}
    {{ super() }}
    {% if role in ['student', 'staff']  %}
        <div id="confirmation-dialog" class="hidden">
            <h1>{{ _('Confirmation') }}</h1>
            <p>{{ gettext('Are you sure you want to leave %(course)s (Prof. %(name)s)?)', course=course.title, name=user.get_full_name()) }}</p>
            <p>{{ _('All your activities and progress will be deleted.') }}</p>
            <form id="cancel-subscription-form" method="POST">
                {{ csrf_input }}
            </form>
            <div class="toolbar highlight">
                <button class="separated raised"
                        onclick="srvice.dialog('close')">{{ _('Cancel') }}</button>
                <button class="danger" form="cancel-subscription-form" name="action"
                        value="cancel-subscription">
                    {{ _('Yes, leave course') }}
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}