{% extends 'auth/base.jinja2' %}

{% block title %}{{ _("Password changed") }}{% endblock %}
{% block content_title %}
    <h2>{{ _("Your password has been changed") }}.</h2>{% endblock %}

{% block content_body %}
    <p>{{  _("From now on you can use your new password to signin") }}.</p>
{% endblock %}
