{% extends "base-ternary.jinja2" %}

{% block content_title %}{{ _('Welcome to Codeschool!') }}{% endblock %}

{% block content_body %}
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar dark">
            <a href="#login"
               class="mdl-tabs__tab{%- if active_tab|default('login') == 'login'-%}
                 {{- " is-active" }}
             {% endif %}">{{ _('Login') }}</a>
            <a href="#register"
               class="mdl-tabs__tab{%- if (active_tab == 'register')-%}
                {{- " is-active" }}{% endif %}">{{ _('Login') }}
            </a>
        </div>

        <main>

            <section id="login"
                     class="mdl-tabs__panel{% if active_tab|default('login') == 'login' %} is-active{% endif %}">
                <form id="login-form" method="POST">
                    {{ csrf_input }}
                    <input type="hidden" name="action" value="login">
                    <table class="form">
                        {{ login_form.as_table() }}
                    </table>
                </form>
            </section>

            <section id="register"
                     class="mdl-tabs__panel{% if active_tab == 'register' %} is-active{% endif %}">
                <form id="register-form" method="POST">
                    <input type="hidden" name="action" value="register">
                    {{ csrf_input }}
                    <h2>{{ _('Required fields') }}</h2>
                    <table class="form">
                        {{ user_form.as_table() }}
                    </table>
                    <h2>{{ _('Optional fields') }}</h2>
                    <table class="form">
                        {{ profile_form.as_table() }}
                    </table>
                </form>
            </section>
        </main>
    </div>

{% endblock %}


{% block javascript %}
    {{ super() }}
    <script>
        function submit() {
            if ($('#login')[0].classList.contains('is-active')) {
                $('#login-form')[0].submit();
            } else {
                $('#register-form')[0].submit();
            }
        }
    </script>
{% endblock %}