{# Head component. #}
{% macro cs_head(user, cls=None) %}
    {% if user is undefined %}
        {% set fabletter = '?' %}
        {% set profile = '' %}
    {% else %}
        {% set fabletter = user.username[0] %}
        {% set profile = user.username %}
    {% endif %}

    <div class="cs-head{% if cls %} {{ cls }}{% endif %}">
        <div class="cs-logo">
            <img class="cs-logo__img" src="{{ static('img/logo.svg') }}">
        </div>

        <nav class="cs-head__nav">
            <div class="cs-head__links">
                {{ caller() }}
            </div>

            <span class="cs-head__fab mdl-button mdl-js-button mdl-button--fab mdl-button--colored fab-button"
                  id="cs-head--dropdown-trigger">
                <span class="dropdown-trigger">{{ fabletter }}</span>
            </span>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                for="cs-head--dropdown-trigger">
                <li class="mdl-menu__item">
                    <a href="/auth/{{ profile }}">{{ _('Profile') }}</a>
                </li>
                <li class="mdl-menu__item">
                    <a href="/auth/logout/">{{ _('Logout') }}</a>
                </li>
                <!--li class="mdl-menu__item">
                    <a href="/social/friends/">{{ _('Friends') }}</a>
                </li-->
            </ul>
        </nav>

        <script>
            $('.cs-head.cs-head--links').click(function () {
                var nav = this;

                if (nav.style.display === 'none' || nav.style.display === '') {
                    nav.style.display = 'flex';
                } else {
                    nav.style.display = '';
                }
            });
        </script>
    </div>
{% endmacro %}


{# Footer component. #}
{% macro cs_foot(user, has_data=True, cls=None) %}
    <div class="cs-foot{% if cls %} {{ cls }}{% endif %}">
        {% if has_data %}
            <!--div class="cs-foot__main">
                <div>
                    {{ caller() }}
                </div>
            </div-->
        {% endif %}

        <div class="cs-foot__copyright">
            <p>Copyright 2016 - <a
                    href="http://github.com/fabiommendes/codeschool">Codeschool</a>
            </p>
            <p>Site gerenciado por Fábio M. Mendes na UnB/Gama.</p>
        </div>
    </div>
{% endmacro %}


{# Nav component. #}
{% macro cs_nav(user, cls=None) %}
    <div class="cs-nav{% if cls %} {{ cls }}{% endif %}">
        <div>
            {{ caller() }}
        </div>
        <img class="cs-nav__dingbat" src="{{ static('img/dingbat.svg') }}">
    </div>
{% endmacro %}


{# Nav block. #}
{% macro cs_nav_section(title, links, href=None, cls=None) %}
    <nav class="cs-nav{% if cls %} {{ cls }}{% endif %}">
        <p class="cs-nav__block-title">
            {% if href %}
                <a href="{{ href }}">{{ title }}</a>
            {% else %}
                {{ title }}
            {% endif %}
        </p>

        <ul class="cs-nav__block-items">
            {% for link in links %}
                <li>{{ link|hyperlink }}</li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}
