
.cs-nav {
    @include block-padding;

    background: $color-light-gray;
    color: $color-dark-gray;
    font-family: $amatic-sc;
    font-weight: bold;

    a {
        text-decoration: none;
    }

    a:hover {
        color: black;
    }


    &__block-title {
        font-size: 1.7em;
        margin-bottom: $medium-spacing;
    }

    &__block-items {
        font-size: 1.5em;
        list-style: none;
        padding-left: $large-spacing;
        margin-top: $small-spacing;
    }

    &__dingbat {
        margin: 35px auto;
        display: block;
        width: 60%;
        max-width: 90px;
    }
}