{% extends 'base.jinja2' %}

{% block content_title %}
{{ post.title|capitalize }}
{% endblock %}

{% block content_body %}
 <div class="cs-card-aside__content mdl-grid">
    <div class="cs-card mdl-shadow--4dp mdl-cell mdl-cell--12-col cs-card--left">
        <i class="material-icons">forum</i>
        {{ post.text|capitalize }}
        <hr>
        <p class="post-author">
            Autor: {{ post.author|capitalize }}
        </p>
        {% if user_id == post.author.id %}
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url('blog:postedit', args=[post.pk]) }}">
                Alterar
            </a>
            <a class="mdl-button mdl-button--accent" href="{{ url('blog:postremove', args=[post.pk]) }}">
                Excluir
            </a>
        {% endif %}
    </div>
</div

<hr>


<div class="mdl-card__actions mdl-card--border">
    <a href="{{ url('blog:addcomment', args=[post.pk]) }}">Add comentario</a>
</div>
<hr>
Comentarios


   <article class="mdl-cell mdl-cell--12-col">
    {% for comment in comments %}
        <div class="cs-card-aside__content mdl-grid">
            <div class="cs-card mdl-shadow--4dp mdl-cell mdl-cell--12-col cs-card--left">
                <i class="material-icons">comments</i>
                <h3>{{ comment.text }}</h3>
                <p>Author: {{ comment.author|capitalize }}</p>
                <p>{{ '{}/{}/{} - {}:{}'
                .format(
                    comment.created_date.day, 
                    comment.created_date.month, 
                    comment.created_date.year, 
                    comment.created_date.hour, 
                    comment.created_date.minute 
                )}}
            </p>
            {% if user_id == comment.author.id %}
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url('blog:editcomment', args=[comment.pk]) }}">
                    Alterar
                </a>
                <a class="mdl-button mdl-button--accent" href="{{ url('blog:commentremove', args=[comment.pk]) }}">
                    Excluir
                </a>
            </div>
            {% endif %}
            </div>
        </div

    
    {% else %}
        <div class="cs-card-aside__content mdl-grid">
            <div class="cs-card mdl-shadow--4dp mdl-cell mdl-cell--12-col cs-card--left">
                 <h3>Nenhum comentário neste post!!</h3>
            </div>
        </div
        
   </article>
{% endfor%}

{% endblock %}