{% extends 'base.jinja2' %}

{% block content_title %}
{{ type }}
{% endblock %}

{% block content_body %}

    <form method="POST" class="post-form-blog">{{ csrf_input }}
        <fieldset>
        {% for field in form %}
        <div class="post-field-blog">
            {{ field.name|capitalize }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="post-form-button">
            <button type="submit" class="save btn btn-default">Save</button>
            <a title="" href="{{ url('blog:blog_index') }}">Cancel</a>
        </div>
        </fieldset>
    </form>
{% endblock %}