{% extends 'base.jinja2' %}

{% block content_title %}
Edited Post
{% endblock %}

{% block content_body %}
    <form method="POST" class="post-form-blog">{{ csrf_input }}
        {% for field in form %}
            <div class="post-field-blog">
            {{ field.name|capitalize }}
            {{ field }}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        {% endfor %}
        <div class="post-form-button">
            <button type="submit" class="save btn btn-default">Save</button>
            <button type="cancel" class="cancel btn btn-default">Cancel</a>
        </div>
    </form>
{% endblock %}