.cs-base-page {
    .cs-head,
    .cs-nav,
    .cs-foot {
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .cs-head {
        z-index: 3;
    }

    .cs-nav {
        z-index: 2;
    }

    .cs-foot {
        z-index: 1;
    }
}

// Background on very large screens
@media only screen and (min-width: $breakpoint-large-screen) {
    .cs-base-page {
        background: #ddd url('../../img/bg/swirl_pattern.png');

        > div {
            background: white;
            max-width: $breakpoint-large-screen + 200px;
            margin: 0 auto;
            border-left: 1px solid black;
            border-right: 1px solid black;
            box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
        }
    }
}