{% extends "base.jinja2" %}

{% block content_title %}Submit question data{% endblock %}

{% block content_body %}
    <h2 class="banner">{{ _('Question control') }}</h2>
    <p><strong>Warning!</strong> this is a temporary hackish solution used by
    codeschool CLI until we have a proper API.</p>

    <form method="POST">
        {{ csrf_input }}
        <table>
            {{ form.as_table() }}
        </table>
        <input type="submit" value="Send">
    </form>

    {% if response %}
        <h2 class="banner">Response</h2>
        <pre>
            <code>{{ response }}</code>
        </pre>
    {% endif %}
{% endblock %}
