{% extends "page.jinja2" %}
{% from "questions/macros.jinja2" import feedback_styles, nav_sections %}

{% block content_title %}
    {{ question.title }} ({{ _('all submissions') }})
{% endblock %}

{% block content_body %}
    {% for submission in submissions %}
        {% block submission scoped %}
            <div>
                {{ submission }}
            </div>
        {% endblock %}
    {% endfor %}
{% endblock %}


{% block javascript %}
    {{ super() }}

    <script>
        function expand(obj) {
            var expandable = $(obj).find('.expandable');
            if (expandable[0].classList.contains('hidden')) {
                expandable.removeClass('hidden').hide().show(200);
            } else {
                expandable.hide(200);
                window.setTimeout(function () {expandable.addClass('hidden')}, 200);
            }
        }
    </script>
{% endblock %}
